:root {
  --black: black;
  --pink: #ffb9ce;
}

.body {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  display: flex;
  overflow: hidden;
}

.image {
  min-width: 1500px;
}

.main {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.header {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  height: 55px;
}

.h1 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Sora, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.details {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h2 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Sora, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.list {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: var(--black);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  font-family: Sora, sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}

.p {
  font-family: Sora, sans-serif;
}

.list-item {
  padding-left: 10px;
}

.button {
  background-color: var(--pink);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 5px 20px #00000040;
}

._16 {
  color: var(--black);
  font-family: Sora, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .image {
    min-width: 800px;
  }

  .header {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .logo {
    width: 225px;
    height: auto;
    max-height: 70px;
  }

  .h1 {
    font-size: 23px;
  }

  .list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    font-size: 16px;
  }
}


